

html, body{
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}


/* CSS Variables */

:root{
    --primary-color: #FFFFFF;
    --primary-color2: #000000;
    --primary-color3: #A5A5A5;

    /* font family variables */
    --nunitoLight: 'Nunito_Sans';
}


